{% extends "base.html" %}

{% block content %}
<div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin-bottom: 10px;">Парковочная зона № 1</h2>
    <img src="{{ parking_zone1 }}" alt="ЗОНА НОМЕР 1" style="max-width: 100%;">
</div>


<div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin-bottom: 10px;">Парковочная зона №2</h2>
    <img src="{{ parking_zone2 }}" alt="ЗОНА НОМЕР 2" style="max-width: 100%;">
</div>

<div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin-bottom: 10px;">Парковочная зона №3</h2>
    <img src="{{ parking_zone3 }}" alt="ЗОНА НОМЕР 3" style="max-width: 100%;">
</div>

{% endblock %}  
