<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkomat | Схема парковки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Parkomat - арендуй парковочное место</h1>
        <h2>Удобный инструмент бронирования парковочных мест</h2>
        <nav>
            <a href = "#">Главная</a>
            <a href = "#">Подключить свою парковку</a>
            <a href = "#">Карта доступных парковок</a>
        </nav>
    </header>

    <div style="text-align: right;">Выберите парковочное место для аренды
        <h1 style="font-size: 16px; text-align: right;"> Пояснение: </h1>
            <h2 class="index-h1-exp1"> <b style="color:green">STANDART</b> - обычные парковочные места </h2>
            <h2 class="index-h1-exp1"> <b style="color: rgb(227, 127, 144)">SPECIAL</b> - места для людей с ограниченными возможностями</h2>
            <h2 class="index-h1-exp1"> <b style= "color:rgb(103, 19, 103)"> VIP</b> - выделенные парковочные места </h2>  
    </div>
    <button id="loadScheme">Загрузить схему</button>
    <div id="parkingCanvas"></div>
    <script src = "static/js/load.js"></script>
    <footer>
        <nav>
            <a href = '#'>Условия пользования</a>
            <a href = "#">Политика конфиденциальности</a>
            <a href = "#">Правила аренды, порядок обработки заявок</a>
        </nav>
    </footer>
</body>
</html>
